.popup-geo__back {
  display: none;
  content: '';
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 330px;
  background: linear-gradient(30deg, #8ec1ff, rgb(123, 255, 255));
}