.header__search {
	-webkit-appearance: none;
    box-sizing: border-box;
    max-width: 50%;
    min-width: 50%;
    height: 48px;
    padding: 0 8px 0 45px;
    border: none;
    border-radius: 24px;
    background: url("../../../img/search.svg") 16px / 17px no-repeat;
    background-color: #F1F1F1;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}
@media screen and (max-width: 1200px) {
    .header__search {
        max-width: 40%;
        min-width: 40%;
        animation: skroll 8s ease-in-out infinite;
    }
}
@media screen and (max-width: 1000px) {
    .header__search {
        position: absolute;
        max-width: 100%;
        min-width: 80%;
        margin: 0;
        animation: none;
        top: 70px;
        left: 10%;
    }
}
@media screen and (max-width: 620px){
    .header__search {
        display: none;
        position: fixed;
        top: 48px;
        left: 16px;
        right: 16px;
        z-index: 3;
        animation: start 1s ease-in-out forwards;
    }
}
@media screen and (max-width: 470px){
    .header__search {
        animation: skroll 12s ease-in-out infinite, start 1s ease-in-out forwards;
        left: 10px;
        right: 10px;
    }
}
.header__search::-webkit-search-cancel-button { 
	-webkit-appearance: none;
	width: 28px;
	height: 28px;
	background: url("../../../img/close-btn.svg") center/cover no-repeat;
	cursor: pointer;
}
.header__search::placeholder {
    color:#767676;
    text-align: center;
}
.header__search:focus {
    background-color: #FFF;
    border: 2px solid #9db9db;
    background-position-x: 14px;
}