.lead__description {
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 550px) {
  .lead__description {
    padding: 12px;
  }
}
