.header__info {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-device-width: 1000px) {
    .header__info {
        flex-direction: column;
    }
}