.header {
    max-width: 1280px;
    margin: 0 auto;
    height: 136px;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans';
    background-color: #FFF;
}
@media screen and (max-device-width: 1400px) {
    .header {
        padding: 0 5%;
        margin: 0;
        max-width: 90%;
    }
}