.lead__list-item {
  color: #767676;
  font-size: 16px;
  line-height: 30px;
  width: fit-content;
  margin: 0 35px 0 0;
  position: relative;
}
.lead__list-item:first-child {
  list-style: none;
}
.lead__list-item:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: -20px;
  width: 16px;
  height: 16px;
  background: url("../../../img/star.svg") center/contain no-repeat;
}