.header__mobile-hamb {
    display: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 0 10px;
    width: 32px;
    height: 32px;
    background: url("../../../img/hamburger.svg") center/cover no-repeat;
}
@media screen and (max-width: 1000px) {
    .header__mobile-hamb {
        display: block;
    }
}