.header__favorites {
    border: none;
    width: 15px;
    height: 15px;
    background: url("../../../img/like.svg") center/cover no-repeat;
    margin: 0 10px 0 0;
    padding: 0;
}
@media screen and (max-device-width: 620px) {
    .header__favorites {
        display: none;
    }
}