.header__favorites {
    border: none;
    width: 50px;
    height: 16px;
    background: url("../../../img/like.svg") left / 16px no-repeat;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 620px) {
    .header__favorites {
        display: none;
    }
}