.header__enter-btn {
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 65px;
    font-size: 14px;
    padding: 12px 19px;
    transition: all .3s ease-in-out;
}
.header__enter-btn:hover {
    border-color: #f1f1f1;
    background-color: #f1f1f1;
}