.popup-geo__search {
  width: 90%;
  min-height: 42px;
  margin: 0 auto 10px auto;
  border: 2px solid #9db9db;
}
.popup-geo__search::placeholder {
  text-align: start;
  padding: 0 0 0 20px;
}
