.header__search-btn {
    display: none;
    width: 20px;
    height: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: url("../../../img/search.svg") center/cover no-repeat;
}

@media screen and (max-width: 620px) {
    .header__search-btn {
        display: block;
    }
}