.popup-geo {
  position: absolute;
  display: none;
  flex-direction: column;
  top: 32px;
  left: 0;
  padding: 24px 0 0 0;
  width: 385px;
  min-height: 300px;
  background-color: #fbfbfb;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  z-index: 11;
}
@media screen and (max-width: 680px) {
  .popup-geo {
    width: 350px;
  }
}
@media screen and (max-width: 620px) {
  .popup-geo {
    display: none;
  }
}