.nav-menu__item {
  text-decoration: none;
  color: #767676;
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 28px 0;
  padding: 0;
}
.nav-menu__item:last-child {margin: 0;}