.popup-hamb__enter {
  border: none;
  background-color: rgba(6, 86, 180, 1);
  border-radius: 10px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f1f1f1;
  height: 48px;
  padding: 0 25px;
  transition: .3s;
  font-family: 'Formular';
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  margin: 0 0 16px 0;
}