.mobile-hamb {
  display: none;
  background: linear-gradient(30deg, #8ec1ff, rgb(123, 255, 255));
  padding:  32px 0 0 0;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all .2s ease-in-out;
}